@import url('some google sans-serif font');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 20px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aaa;
    text-align: left;
    font-size: ; 
}

img{
    
}

input#min.price::after {
    content: "$"attr(data-price);
    display: block;
    margin-right: -2rem;
}

input.price#max::after {
    content: "$"attr(data-price);
    display: block;
    margin-right: -1.8rem;
}

:root {
    --fontOne: 2.441rem;
    --fontTwo: 1.953rem;
    --fontThree: 1.563rem;
    --fontFour: 1.25rem;
    --fontFive: 1rem;
    --fontSix: 0.8rem;
    --hue: 200deg;
}

header{
    background: url(../img/Dog%20Sleeding.jpeg) center no-repeat;
}

.place{
    display: flex;
    flex-direction: column;
}

.check-in{
    display: flex;
    flex-direction: column;
}

.check-out{
    display: flex;
    flex-direction: column;
}

div{
    margin: 5%;
}

#city {
    grid-area: A;
}

#check-in {
    grid-area: B;
}

#check-out {
    grid-area: C;
}

#min {
    
    grid-area: D;
}

#max {
    grid-area: E;
}

#num-dogs {
    grid-area: F;
}

.search-btn {
    background-color: hsl(var(--hue) 100% 75%);
    font-size: 1rem;
}

h1 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 599px) {
}

@media (min-width: 600px) and (max-width:999px) {
    div{
        display: flex;
        flex-direction: row;
    }

    .place , .check-in , .check-out{
        width: 50%;    
    }
    
}

@media (min-width: 1000px) {
    main{
        display: flex;
        flex-wrap: wrap;
    }
    
    form{
        display: grid;
        grid-template-columns:  ;
        grid-template-areas: "A A" "B C" "D E" "F F";
    }
    
}
